.qrcode {
  position: absolute;
  top: 20%;
  left: 41%;
  width: 21%;
}
h2 {
  position: absolute;
  top: 33%;
  left: 36%;
  text-align: center;
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
}
input {
  position: absolute;
  top: 51%;
  left: 25%;
  width: 50%;
  height: 4%;
  background-color: lightgrey;
  padding-left: 24%;
  font-size: 50px;
}
.button1 {
  background-color: yellow;
  width: 594px;
  height: 172px;
  margin-bottom: 85px;
  font-size: 50px;
  border-radius: 41px;
  position: absolute;
  bottom: 20%;
  left: 224px;
}
.user {
  position: absolute;
  top: 34%;
  left: 35%;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
}
@media (min-width: 1023px) {
  .user {
    top: 18%;
  }
  .button1 {
    width: 562px;
    height: 140px;
  }
}
@media (min-width: 830px) {
  input {
    height: 100px;
  }
  .user {
    top: 18%;
  }
}
