section {
  position: absolute;
  top: 20%;
  left: 28%;
}

h2 {
  background-color: #fae9c9;
  font-size: 36px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
h3 {
  font-size: 61px;
  text-align: center;
  margin: 0;
}
article {
  position: absolute;
  bottom: 5%;
  left: 251px;
}

button {
  width: 471px;
  height: 92px;
  margin-bottom: 85px;
  font-size: 33px;
  border-radius: 41px;
}
.button1 {
  background-color: yellow;
}
.button2 {
  background-color: #128cff;
}
