* {
  font-family: "Antonio", sans-serif;
}
.cf {
  color: black;
  font-size: 55px;
  position: absolute;
  top: 11%;
  transform: translateX(-50%);
  left: 50%;
  font-weight: bold;
  text-align: center;
}
.signin {
  position: absolute;
  top: 42%;
  width: 46%;
  height: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  border-radius: 50px;
  font-weight: bold;
  border: 3px solid #fae9c9;
}
.register {
  position: absolute;
  top: 53%;
  width: 60%;
  height: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  border-radius: 50px;
  font-weight: bold;
  border: 3px solid #fae9c9;
}
.mlu {
  color: blue;
  font-size: 36px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  font-weight: bold;
}
form {
  position: absolute;
  top: 22%;
  display: grid;
  width: 50%;
  left: 20%;
  font-size: 65px;
  text-align: center;
}
input {
  height: 76px;
  border: none;
  background-color: #e6e6e6;
  border-radius: 30px;
  text-align: center;
  font-style: italic;
  color: grey;
}

.submitsend {
  margin-top: 49%;
  font-size: 54px;
  background-color: #fae9c9;
  font-weight: 900;
  height: 116px;
  color: black;
  font-style: inherit;
}

.rules {
  font-size: 31px;
  color: red;
}
.loginplace {
  top: 29%;
}
.login {
  position: absolute;
  bottom: -151%;
  width: 114%;
  height: 41%;
  font-size: 46px;
  background-color: #fae9c9;
  border-radius: 64px;
  font-weight: 900;
  border: none;
  left: 10%;
  font-style: inherit;
  color: black;
}
.center {
  left: 30%;
}
.error {
  position: absolute;
  bottom: 15%;
  left: 12%;
  text-align: center;
  width: 100%;
  color: red;
  font-weight: 900;
  font-size: smaller;
}
.error2 {
  position: absolute;
  bottom: -74%;
  left: 12%;
  text-align: center;
  width: 100%;
  color: red;
  font-weight: 900;
  font-size: smaller;
}
.already {
  font-size: 50px;
  margin-top: 3%;
  text-decoration: underline;
}
.already2 {
  font-size: 50px;
  margin-top: 3%;
  text-decoration: underline;
  position: absolute;
  bottom: 17%;
  text-align: center;
  left: 26%;
}
