* {
  font-family: "Antonio", sans-serif;
}
.cf {
  color: black;
  font-size: 55px;
  position: absolute;
  top: 11%;
  transform: translateX(-50%);
  left: 50%;
  font-weight: bold;
}
.signin {
  position: absolute;
  top: 42%;
  width: 46%;
  height: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  border-radius: 50px;
  font-weight: bold;
  border: 3px solid #fae9c9;
}
.register {
  position: absolute;
  top: 53%;
  width: 60%;
  height: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  border-radius: 50px;
  font-weight: bold;
  border: 3px solid #fae9c9;
}
.mlu {
  color: blue;
  font-size: 36px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  font-weight: bold;
}
form {
  position: absolute;
  top: 22%;
  display: grid;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 65px;
  text-align: center;
}
input {
  height: 76px;
  border-color: black;
  background-color: #e6e6e6;
  border-radius: 30px;
  text-align: center;
}

.submitsend {
  margin-top: 59%;
  font-size: 54px;
  background-color: #2d9bf0;
  font-weight: bold;
  height: 116px;
}

.rules {
  font-size: 31px;
  color: red;
}
.loginplace {
  top: 29%;
}
.login {
  position: absolute;
  bottom: -151%;
  width: 114%;
  height: 41%;
  font-size: 41px;
  background-color: #2d9bf0;
  border: 3px solid black;
  border-radius: 64px;
  font-weight: bold;
}
