.footer {
  position: absolute;
  bottom: 7%;
  left: 15%;
}
ul {
  list-style: none;
  left: 50%;
  margin-top: 200px;
}
li {
  display: inline;
  padding: 3%;
}
.fblogo {
  width: 18%;
}
.instalogo {
  width: 18%;
}
.weblogo {
  width: 18%;
  transform: scale(2.5);
  margin-left: 3%;
}
@media (min-width: 425px) {
  .footer {
    height: 6%;
  }
}
@media (min-width: 830px) {
  .footer {
    height: 12%;
  }
}
