body {
  margin: 0;
  -webkit-perspective: 1000;
  background: url(https://f.cl.ly/items/3Q031Q1m1s1d3C0I023k/geometry2.png);
  font-family: Avenir Next, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.menu,
.menu-burger,
.menu-bg {
  position: fixed;
  width: 108px;
  height: 108px;
  font-size: 108px;
  text-align: center;
  border-radius: 100%;
  right: 72px;
  top: 161px;
}

.menu-bg {
  background: #fae9c9;
  pointer-events: none;
  transition: 0.3s;
  right: 125px;
  top: 247px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
  width: 150px;
  height: 150px;
}
.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

.menu-burger {
  color: black;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.4s;
  transform-origin: center;
}
.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
}

.menu-items {
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  margin-top: 300px;
  transform: translateY(-200%);
  pointer-events: none;
  font-family: "Antonio", sans-serif;
}
.menu-items div {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}
.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}
.menu-items.fs div {
  opacity: 1;
  margin-top: 50px;
  color: black;
}
.content {
  position: absolute;
  top: 20%;
  left: 17%;
  font-size: 35px;
  text-align: center;
}
span {
  background-color: #fae9c9;
  font-size: 45px;
  font-weight: bold;
}
.reduct {
  font-style: italic;
  font-size: 54px;
}
.form {
  position: absolute;
  top: 35%;
}
